{% extends "applayout.html" %}
{% block title %} View tickets! {% endblock %}
{% block content %}
<h1> List of all submitted tickets </h1>
<!--    The first ticket was submitted by {{ tickets.0.submitter }}-->
<!--    At {{ tickets.0.created_at }}-->
<!--    And has the body-->
<!--    <p>-->
<!--        {{ tickets.0.body }}-->
<!--    </p>-->

<!--        {% for ticket in tickets %}-->
<!--        <div>-->
<!--            The ticket was submitted by {{ ticket.submitter }} at {{ ticket.created_at }}-->
<!--            And has the body is-->
<!--            <p>-->
<!--                {{ ticket.body }}-->
<!--            </p>-->
<!--        </div>-->
<!--        {% endfor %}-->

        {% for ticket in tickets %}
            {% if ticket.submitter == 'new user' %}
            <div>
                The ticket was submitted by {{ ticket.submitter }} at {{ ticket.created_at }}
                And has the body is
                <p>
                    {{ ticket.body }}
                </p>
            </div>
            {% else %}
            <div style="color: red">
                The ticket was submitted by {{ ticket.submitter }} at {{ ticket.created_at }}
                And has the body is
                <p>
                    {{ ticket.body }}
                </p>
            </div>
            {% endif %}
            <a href="{% url 'ticket' ticket.pk %}">View this ticket</a>
        {% endfor %}
{% endblock %}